p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin:0cm;
	margin-bottom:.0001pt;	
	font-size:12.0pt;
	font-family:Arial;
	}

p
	{margin-right:0cm;
	margin-left:0cm;	
	font-size:12.0pt;
	font-family:"Arial";
        font-weight:bold;
	}

@page Section1
	{
	margin:70.85pt 70.85pt 2.0cm 70.85pt;
	}
div.Section1
	{page:Section1;}
ol
	{margin-bottom:0cm;}
ul
	{margin-bottom:0cm;}
li
	{font-family:Arial;}

td {font-family:Arial;padding:0cm 3.5pt 0cm 3.5pt;}

h1
	{
	font-family:Arial;
	font-weight:bold;}
h2
	{
	margin-bottom:0cm;
	margin-bottom:.0001pt;
	font-family:Arial;
	font-weight:bold;}

a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;
	}
a:visited, span.MsoHyperlinkFollowed
	{color:navy;
	text-decoration:underline;
	}

